@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
}

html, body, main {
  height: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}
